#photos {
	margin: 0 max(10rem, 15vw);
	padding: 5rem 0;
}

#photos h1 {
	text-align: center;
}

#photos a {
	text-decoration: underline;
}

#photos a:hover {
	font-weight: bold;
}

#photos p {
	max-width: 60ch;
	margin: 3rem auto 0;
}
#photo-gallery {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
	grid-gap: 2rem;
	margin-top: 5rem;
	max-width: 100%;
	padding: 2rem;
	justify-items: center;
	align-items: center;
	box-shadow: 0 0 2.5rem 3rem rgba(0, 0, 0, 0.05);

	--s: 105px; /* control the size */
	--c1: #b9b9b930;
	--c2: #dcdcdc30;
	--c3: #fafafa30;

	background: conic-gradient(from 75deg, var(--c1) 15deg, var(--c2) 0 30deg, #0000 0 180deg, var(--c2) 0 195deg, var(--c1) 0 210deg, #0000 0) calc(0.5 * var(--s)) calc(0.5 * var(--s) / 0.577),
		conic-gradient(
			var(--c1) 30deg,
			var(--c3) 0 75deg,
			var(--c1) 0 90deg,
			var(--c2) 0 105deg,
			var(--c3) 0 150deg,
			var(--c2) 0 180deg,
			var(--c3) 0 210deg,
			var(--c1) 0 256deg,
			var(--c2) 0 270deg,
			var(--c1) 0 286deg,
			var(--c2) 0 331deg,
			var(--c3) 0
		);
	background-size: var(--s) calc(var(--s) / 0.577);
	/* 0.577=tan(30deg)*/
}

#photo-gallery::before {
	content: '';
	position: absolute;
	width: 70vw;
	height: 2.5rem;
	top: -5rem;
}

#photo-gallery video,
#photo-gallery img {
	border-radius: 10px;
	outline: 2px solid gold;
	outline-offset: 0.2rem;
	cursor: pointer;
	width: 100%;
}

#photo-gallery video,
#photo-gallery img:hover {
	scale: 1.02;
}
